:root {
  --color-green: #1f5c43;
  --color-green-hover: #267854;
  --color-light-green: #b2d3c2;

  --color-black: #0f0f0f;
  --color-white: #ffffff;
  --color-light-gray: #EFEEEE;

  --color-purple-smoke: #8a6e9e;
  --color-gold-accent: #c4a77d;
}

body {
  background-color: var(--color-black);
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

