.reservation {
  padding: 100px 20px;
  display: flex;
  justify-content: center;
    z-index: 1;

}

.reservation_content {
  max-width: 650px;
  width: 100%;
    z-index: 2;

}

.calendarPopover {
  z-index: 9999 !important;
  position: absolute !important;
}


.date_button_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
 
.date_input {
  width: 100%;
  justify-content: flex-start;
  text-align: left;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 16px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* margin-bottom: 8px; */
}

.row input {
  flex: 1;
}


.reservation_input {
  padding: 16px 18px;
  border: none;
  border-bottom: 2px solid #444;
  background: transparent;
  color: #aaa;
  font-size: 18px;
  transition: border-color 0.3s;
  margin-bottom: 4px;
}

.reservation_input:focus {
  outline: none;
  border-bottom: 2px solid var(--color-green);
}

.reservation_input::placeholder {
  color: #aaa;
}

.error_message {
  font-size: 14px;
  color: #ff5c5c;
  margin: 0;
  padding-left: 4px;
  font-family: var(--font-inter);
}

.timeList {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-height: 200px;
  overflow-y: auto;
}

.timeItem {
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border-radius: 4px;
  transition: background 0.2s;
}

.timeItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.reservation_button {
  margin-top: 24px;
  padding: 16px;
  background: var(--color-green);
  color: var(--color-white);
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.reservation_button:hover {
  background: var(--color-green-hover);
  transform: scale(1.02);
}

@media (max-width: 600px) {
  .title {
    font-size: 28px;
  }

  .reservation_input {
    font-size: 16px;
  }

  .reservation_button {
    font-size: 16px;
  }
}


@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
